<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
    
    <div class="logo">
        <%= image_tag("Orderly Logo.PNG", :alt => "logo", 
        height: 200, width: 200) %>
    </div>
</header>