<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container">
			<div class="logo">

            <%= image_tag("Orderly Logo.PNG", :alt => "logo", size: "100") %>
				<h1 class = "title is-centered">Orderly</h1>
			</div>
      <h2 class="subtitle">Stay Organized</h2>
    </div>
  </div>
</section>







