<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
    
    <div class="logo">
        <%= image_tag("Orderly Logo.PNG", :alt => "logo", 
        size: "100") %>
    </div>
</header>