<section class="hero is-warning is-bold is-small">
  <div class="hero-body">
    <div class="container">
			<div class="logo">
				<%= image_tag("Orderly Logo.PNG", :alt => "logo", size: "100") %>
				<h1 class = "title is-inline">Orderly</h1>
			</div>
      <h2 class="subtitle">Stay Organized</h2>
    </div>
  </div>
</section>