<% if !user_signed_in? %>
  <section class="section">
    <div class="container">
      <div class="box">
        <h1 class="title is-3">Welcome to Orderly</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Ipsa, non. Officia beatae ad omnis natus voluptatum incidunt vel numquam ut amet!
          Porro ipsa recusandae nesciunt architecto. Nisi impedit a temporibus?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Delectus ex ducimus quibusdam fuga pariatur vero iure perferendis dolor doloribus?
          Vel temporibus doloribus quia inventore minus earum eius corporis facilis iure!      
        </p>
      </div>
    </div>
  </section>
<% end %>
