<% if !user_signed_in? %>
  <section class="section">
    <div class="container">
      <div class="box">
        <h1 class="title is-2">Welcome to Orderly</h1>
        <p class="subtitle">
          An effective, paper-free agenda to help you stay organized and reach your goals.      
        </p>
      </div>
    </div>
  </section>
<% end %>
