<section class="section">
  <div class="container">
    <h1 class="title is-1">New Client</h1>
    <%= render "form" %>
    <div class="block">
      <%= link_to "Back", clients_path, class: "button"%>
    </div>  
  </div>
</section>