<h1>Employee Show</h1>
<h1><%= @client.name %></h1>
<label>Email: <%= @client.email %></label> <br>
<label>Phone Number: <%= @client.phone_number %></label> <br>

<br><br>
<%= link_to "Back", clients_path %>

