<h1>Appointment Schedule</h1>
<% @appointments.each do |appointment| %>
  <li><%= link_to appointment.appointment_time, appointment_path(appointment) %></li>
<% end %>

<br> <br>
<%= link_to "Visit Clients", clients_path %>